# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
app.log

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Type Checkers / Linters
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Build Artifacts
# =========================
build/
dist/
*.egg-info/

# =========================
# Databases
# =========================
*.db
*.sqlite3

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
mysql_data/

# =========================
# Alembic
# =========================
alembic/__pycache__/